*
!.gitignore
!i3
!termite
!zathura
!youtube-dl
!feh
!i3blocks
!compton.conf
!calcurse
!dunst
!sxhkd
!mpv
!systemd
!libinput-gestures.conf
!newsboat/config

!i3/**
!termite/**
!zathura/**
!youtube-dl/**
!feh/**
!i3blocks/**
!calcurse/**
!dunst/**
!sxhkd/**
!mpv/**
!systemd/**
