[Unit]
Description=Compton compositor
Documentation=man:compton
PartOf=graphical-session.target

[Service]
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/vishnu/.Xauthority"
Restart=always
ExecStart=/usr/bin/xss-lock /home/vishnu/.scripts/bin/betterlock --ignore-sleep

[Install]
WantedBy=default.target

